// Article styling
// ===============
.article {
    background-color:@background-color;
    width: 100%;
    .article-inner {

    }
    .article-padding {
        .responsive-layout;
        padding: @article-body-padding;
    }
    .article-title {
        text-align: left;
        padding: 20px 20px 10px 20px;
    }
    .article-title-inner {
        
        
        background-color:@background-color;
    }
    .article-body {
        text-align: left;
        padding: 10px 20px 20px 20px;
    }
    .article-body-inner {
        //.responsive-layout;
        //padding: 0 0px 20px 0px;
    }
}