// Page styling
// ============

.page {
    background-color:@primary-color;
    .page-title {
        text-align:center;
        color: #fff;
    }
    .page-title-inner {
        padding: @page-title-padding;
        border-bottom: 4px solid @tertiary-color;
        .responsive-layout;
    }
}