// Page styling
// ============

.page {
    background-color:@primary-color;
    .page-inner {
    }  
    .page-title {
        text-align:center;
        color: #fff;
    }
    .page-title-inner {
        padding: @page-title-padding;
        border-bottom: 2px solid #fff;
        .responsive-layout;
    }
}