

// Bespoke theme styling
// =====================


// block theme colors

.coral-pink-block {
	background-color: @secondary-color;
}
.mint-green-block {
	background-color: @tertiary-color;
}
.blue-grey-block {
	background-color: @forth-color;
}
.lime-green-block {
	background-color: @fith-color;
}

// block images

.image-block-1 {
	padding-top: 280px;
	background-image: url('assets/backgroundA.jpg');
	background-repeat:no-repeat;
}

.image-block-2 {
	padding-top: 280px;
	background-image: url('assets/backgroundB.jpg');
	background-repeat:no-repeat;
}

.image-block-3 {
	padding-top: 280px;
	background-image: url('assets/backgroundC.jpg');
	background-repeat:no-repeat;
}

.narrative-component {
	.narrative-progress {
	&.selected {
	background-color: lighten(@primary-color, 30%);
	}
	}
}

// progress bar

.page-level-progress-navigation-bar {
	background-color: @tertiary-color;
}

// menu items

.menu-item-body-inner .menu-item-title-inner {
	color: none;
}
